################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HoofdstukAcht
/ConsoleMusicPlayer/.vs
/ConsoleMusicPlayer/ConsoleMusicPlayer/bin/Debug/net6.0
/ConsoleMusicPlayer/ConsoleMusicPlayer/obj
